* {
  font-weight: 500;
}
body {
  padding: 10px;
  margin: 0;
  background-color: darkkhaki;
  .fixed-text {
    background-color: rgb(69, 69, 204);
    margin: -10px;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    color: white;
  }
  h2{
    font-size: 39px;
  }
  p{
    font-size: 19px;
  }
  li{
    font-size: 18px;
  }
  .green {
    color: green;
    font-weight: 600;
    font-size: 17px;
    
  }
  .font-17{
    padding-left: 10px;
    font-size: 17px;
  }
}
